.logo {
    position: absolute;
    width: 160px;
    height: 69px;
    left: 67px;
    top: 6px;
}

.header {
    position: absolute;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
}

.container {
    margin-top: 80px;
    background-color: #E5E5E5;
}

.subtitle {
    width: 560px;
    height: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #1B31A8;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-container {
    height: 490px;
    width: 158px;

}

.origin {
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 45px;
    left: 156px;
    top: 195px;

    background: #FFFFFF;
    border: 1px solid #DCDDEC;
    border-radius: 6px;
}

.stop {
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 45px;
    left: 156px;
    top: 291px;

    background: #FFFFFF;
    border: 1px solid #DCDDEC;
    border-radius: 6px;
}

.destination {
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 45px;
    left: 159px;
    top: 417px;

    background: #FFFFFF;
    border: 1px solid #DCDDEC;
    border-radius: 6px;
}

.calculate-btn {
    position: absolute;
    border: 0;
    width: 141px;
    height: 62px;
    left: 505px;
    top: 262px;
    background: #1B31A8;
    border-radius: 32px;
    color: white;
    transition: ease-in-out 0.2s;
}

.calculate-btn:hover {
    background: #344cd7;
    color: white;
    cursor: pointer;
}

.origin-txt {
    position: absolute;
    width: 111px;
    height: 22px;
    left: 159px;
    top: 170px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* or 17px */

    display: flex;
    align-items: center;

    color: #000000;
}

.stop-txt {
    position: absolute;
    width: 111px;
    height: 22px;
    left: 159px;
    top: 266px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* or 17px */

    display: flex;
    align-items: center;

    color: #000000;
}

.destination-txt {
    position: absolute;
    width: 111px;
    height: 22px;
    left: 162px;
    top: 392px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* or 17px */

    display: flex;
    align-items: center;

    color: #000000;
}

.aas-txt {
    position: absolute;
    width: 160px;
    height: 25px;
    left: 270px;
    top: 350px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2E2E2E;
    transition: ease-in-out 0.2s;
}

.aas-txt:hover {
    cursor: pointer;
    color: rgb(147, 143, 143);
}