.logo {
    position: absolute;
    width: 160px;
    height: 69px;
    left: 67px;
    top: 6px;
}

.header {
    position: absolute;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
}

.App {
    background-color: #F4F8FA;
}

.subtitle {
    width: 560px;
    height: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #1B31A8;
}

.box {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 156px;
    top: 195px;
}

.origin {
    position: absolute;
    width: 250px;
    height: 45px;
    left: 165px;
    top: 195px;
}

.destination {
    position: absolute;
    width: 250px;
    height: 45px;
    left: 164px;
    top: 517px;
}

.btn {
    position: absolute;
    width: 141px;
    height: 50px;
    left: -380px;
    top: 262px;
    border-radius: 50px;
}


.origin-txt {
    position: absolute;
    width: 111px;
    height: 22px;
    left: 177px;
    top: 170px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 17px */

    display: flex;
    align-items: center;

    color: #000000;
}


.destination-txt {
    position: absolute;
    width: 111px;
    height: 22px;
    left: 165px;
    top: 492px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 17px */

    display: flex;
    align-items: center;

    color: #000000;
}

.center-btn {
    position: absolute;
    right: 480px;
    top: 90px;
}

.clear-btn {
    position: absolute;
    right: 494px;
    top: 194px;
}

.distance-card {
    position: absolute;
    height: 200px;
    width: 900px;
    top: 600px;
    left: 170px;    
    border-radius: 8px;
    background-color: white;
}

.lower-box {
    position: relative;
    top: 75px;
    height: 100px;
    background-color: #F4F8FA;
}